body{

	background-color:#140C71;
	width:1300px;
	display:block;
	margin:auto;
}

/*____________________BANNERS______________________________*/

#crystals{

	width:1200px;
	border:white 3px solid;
	border-radius:10px;
	float:left;

}

#crystalsBottom{

	width:1200px;
	margin-top:40px;
	float:left;
	border:white 3px solid;
	border-radius:10px;
}

/*___________________TITLE BOX_____________________________*/

#crysTitle{

	
	border:white 1px solid;
	border-radius:10px;
	width:1200px;
	height:80px;
	margin-top:20px;
	float:left;
	color:#7C72EE;
	font-size:60px;
	font-weight:900;
	text-align:center;
}

/*____________________________MAIN CONTENT_____________________________*/



#advert{

	
	border:white 1px solid;
	border-radius:10px;
	width:278px;
	height:360px;
	margin-top:20px;
	float:left;
	color:#7C72EE;
	text-align:center;
	font-weight:900;
	font-size:22px;
}


#crysInstBox{

	margin-left:20px;
	border:white 1px solid;
	border-radius:10px;
	width:600px;
	height:360px;
	margin-top:20px;
	float:left;
}

#instructionsCenter{

	margin-top:20px;
	text-align:center;
	color:#7C72EE;
	font-size:24px;
	font-weight:900;
}

#crysBlurb{

	float:left;
	color:#7C72EE;
	margin-top:10px;
	font-size:20px;
	font-weight:900;
	text-align:center;
}

#advert2{

	
	border:white 1px solid;
	border-radius:10px;
	width:278px;
	height:360px;
	margin-top:20px;
	margin-left:20px;
	float:left;
	color:#7C72EE;
	text-align:center;
	font-weight:900;
	font-size:22px;

}


#conatiner2{

	width:1200px;
}
/* ______________________________________________*/
#gameBox{

	
	border:white 1px solid;
	border-radius:10px;
	width:1200px;
	height:800px;
	margin-top:20px;
	float:left;
}

#crystalsNumberBox{

	border:white 1px solid;
	border-radius:10px;
	width:426px;
	height:400px;
	margin-top:20px;
	margin-left:20px;
	float:left;
}

#compNum{

	margin-top:30px;
	text-align:center;
	color:#7C72EE;
	font-size:200px;
	font-weight:900;

}

#PlyzNum{

	margin-top:-50px;
	text-align:center;
	color:#7C72EE;
	font-size:200px;
	font-weight:900;

}

#yourScoreBox{

	border:white 1px solid;
	border-radius:10px;
	width:426px;
	height:400px;
	margin-top:20px;
	margin-left:20px;
	float:left;

}
/* ______________________________________________*/
#advert3{

	
	border:white 1px solid;
	border-radius:10px;
	width:120px;
	height:400px;
	margin-top:20px;
	margin-left:20px;
	float:left;
	color:#7C72EE;
	text-align:center;
	font-weight:900;
	font-size:12px;
}

#advert4{

	
	border:white 1px solid;
	border-radius:10px;
	width:120px;
	height:334px;
	margin-top:20px;
	margin-left:20px;
	float:left;
	color:#7C72EE;
	text-align:center;
	font-weight:900;
	font-size:12px;
}


/* ______________________________________________*/
#fourCrystalsBox{

	border:white 1px solid;
	border-radius:10px;
	width:876px;
	height:200px;
	margin-top:20px;
	margin-left:20px;
	float:left;

}

#CRYSTALZblue{

	margin-left:-40px;
	width:310px;
	float:left;
}

#CRYSTALZgreen{
	margin-left:-40px;
	width:190px;
	float:left;
}


#CRYSTALZpurple{
	margin-left:40px;
	width:190px;
	float:left;
}


#CRYSTALZtitanium{
	margin-left:20px;
	width:160px;
	float:left;
}



/* ______________________________________________*/






#crystalsTitle{

	margin-top:20px;
	text-align:center;
	color:#7C72EE;
	font-size:46px;
	font-weight:900;
}


/* ______________________________________________*/



#winLossBox{

	border:white 1px solid;
	border-radius:10px;
	width:876px;
	height:114px;
	margin-top:20px;
	margin-left:20px;
	float:left;

}

#winCont{


	width:200px;
	height:90px;
	margin-left:40px;
	margin-top:8px;
	float:left;
}

#buttonCont{


	margin-left:150px;
	margin-top:5px;
	float:left;
}

#buttonSTL{

	width:102px;
}

#lossCont{


	width:230px;
	height:90px;
	margin-left:136px;
    float:left;
    margin-top:8px;
}

#crystalsTitle2{

	margin-top:20px;
	color:#7C72EE;
	font-size:46px;
	font-weight:900;
	float:left;
	text-align:center;
}

#crystalsTitle3{

	margin-top:20px;
	color:#7C72EE;
	font-size:46px;
	font-weight:900;
	float:left;
	text-align:center;
}



#advert4a{

	
	border:white 1px solid;
	border-radius:10px;
	width:120px;
	height:334px;
	margin-top:-200px;
	margin-left:20px;
	float:left;
	color:#7C72EE;
	text-align:center;
	font-weight:900;
	font-size:12px;
}

/*-----------------------------WIN----------------------------------------------*/

#modalWin{

	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0, 0.0);	/*transpaency*/
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display:none;
}

.modalViewWin{
	width:940px;
	height:310px;
	border:white 1px solid;
	border-radius:10px;
	background-color:#140C71;
	margin-left:585px;
	margin-top:80px;
	float:left;

}

#popUpTextWin{

	color:white;
	font-size:60px;
	font-weight:900;
	text-align:center;
}

.closesignWin{
	float:right;
	margin-right:20px;
	margin-top:10px;
	cursor:pointer;
	color:white;
	font-size:60px;
	font-weight:900;
}

#WinText{
	float:left;
	margin-top:80px;
	margin-left:320px;
	color:white;
	font-size:60px;
	font-weight:900;
	text-align:center;
}

#modalLoss{

	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0, 0.0);	/*transpaency*/
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display:none;
}
